<!DOCTYPE html>
<html lang="ja">

<head>
    <title>スーモパーサー</title>
    <meta charset="utf-8" />
</head>

<body>
    取得したいデータの区名を選択してください。(毎日更新されます)
    <form action="/" method="POST">
        <div class="container">


            <div class="numberContainer">
                <select name="target" id="pet-select">
                    <option value="">--Please choose --</option>
                    <option value="minato">港区</option>
                    <option value="meguro">目黒区</option>
                    <option value="shinagawa">品川区</option>
                    <option value="shibuya">渋谷区</option>
                </select>
                
            </div>

            <div class="buttonContainer">
                <button type="submit">実行</button>
            </div>
        </div>
    </form>
</body>

</html>